__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyInstaller build outputs
build/ms-playwright/
ms-playwright/
dist/
*.spec.log

# Temporary map files
*.html
!build/*.html

# Export outputs
*.png
!logo_temporal.png
!docs/*.png

# Python env
.conda/
*.egg-info/
.env

# Editor
.vscode/
.idea/
*.swp
*~
